/*@import url('https://fonts.googleapis.com/css?family=Open+Sans')*/

body {overflow: hidden}
body::-webkit-scrollbar {display: none}


.heart.icon.ihc {color: #dc4405}
.sidebar.icon.ihc {
   color: white;
   padding-right: 100%;
   margin-left: 3vw;
}

.remove.icon.ihc {
   font-size: 200%;
   margin-left: -2vw;
}
.home.icon.ihc {color: white}
.travel.icon.ihc {color: white}
.calendar.icon.ihc {color: white}
.ordered.list.icon.ihc {color: white}
.info.icon.ihc {color: white}
.setting.icon.ihc {color: white}

.alignleft {float: left}
.alignright {float: right}

#home {
   padding-right: 20vw;
   padding-left: 20vw;
   color: white;
   font-size: 7vw;
}

#sidebar-menu {
   position: fixed;
   width: 0;
   height: 100%;
   z-index: 1;
   overflow-x: hidden;
   transition: 0.5s;
   font-size: 5vw;
}

.header.ui.small {font-size: 5.5vw}
.header.ui.medium {font-size: 8vw}
.header.ui.large {font-size: 10vw}

.item.sidebar {
   height: 12.5%;
   display: inline-block;
   vertical-align: middle;
}

.ihclogo {
   padding-top: 10vw;
   font-size: 12vw;
   color: white;
   background-color: black;
}

.navbar {
   list-style-type: none;
   margin-bottom: 0.5vw;
   padding-left: 2.5vw;
   padding-right: 2.5vw;
   font-size: 5vw;
   overflow: hidden;
}

#app-body {padding: 2wv}

.pusher {
   height: 100%;
   background-color: #dc4405;
   overflow: auto;
}
.app-header {background-color: black}
.quicklinks {padding: 2vw}

.ui.card.quick {
   width: 100vw;
}

.ui.cards.quick {
   width: 100vw;
}

.card.small.quick {
   background-color: white;
   width: 45.65vw;
}

.progress {
   color: #cc0000;
   font-size: 5vw;
   padding-top: 0.5vw;
   padding-bottom: 0.5vw;
}

.go-to-passport {
   color: black;
   font-size: 4vw;
}

ul li {
    float: left;
    margin: 0.5em;
    color: white;
    font-size: 1.5em;
}
ul li a {
    display: block;
    color: #e5e5e5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
ul li a:hover {
    background-color: #778899;
}
