/*@import url('https://fonts.googleapis.com/css?family=Open+Sans')*/

/* Scrolling */
body {overflow-y: hidden}
body::-webkit-scrollbar {display: none}

/* Alignment */
.alignleft {float: left}
.alignright {float: right}

/* Icons */
.heart.icon.ihc {color: #dc4405}
.remove.icon.ihc {
   font-size: 200%;
   margin-left: -2vw;
}
.home.icon.ihc {color: white}
.travel.icon.ihc {color: white}
.calendar.icon.ihc {color: white}
.ordered.list.icon.ihc {color: white}
.info.icon.ihc {color: white}
.setting.icon.ihc {color: white}
.repeat.icon.ihc {
   font-size: 5em;
   color: black;
   margin-left: 2vw;
}
.sidebar.icon.ihc {
   color: white;
   padding-right: 100%;
   margin-left: 1.5vw;
   display: inline-block;
   padding-top: 2vw;
   float: left;
   overflow: hidden;
   width: 10px;
}

/* Sidebar */
.item.sidebar {
   height: 12.5%;
   display: inline-block;
   vertical-align: middle;
}

.header.navbar {color: white}

#sidebar-menu {
   position: fixed;
   width: 0;
   height: 100%;
   z-index: 1;
   overflow-x: hidden;
   transition: 0.5s;
   font-size: 5vw;
}

.header.ui.small {font-size: 5.5vw}
.header.ui.medium {font-size: 8vw}
.header.ui.large {font-size: 10vw}

/* General App */
.pusher {
   height: 100%;
   background-color: #dc4405;
   overflow: auto;
}

.index {
   height: 100%;
   background-color: black;
   overflow: auto;
}

/* Page Header */
.app-header {background-color: black}

/* IHC Logo */
.ihclogo {
   padding-top: 10vw;
   font-size: 12vw;
   color: white;
   background-color: black;
}

/* Navigation Bar */
.navbar {
   list-style-type: none;
   margin-bottom: 0.5vw;
   padding-left: 2.5vw;
   padding-right: 2.5vw;
   overflow: hidden;
}

#pagename {
   display: inline-block;
   color: white;
   font-size: 7vw;
}

/* App Body */
#app-body {padding: 2vw}

/* Log In/Sign Up Buttons */
.massive.ui.button.index {
   padding-left: 30vw;
   padding-right: 30vw;
   font-size: 6vw;
}

/* Dashboard Quick Links */
.quicklinks {padding: 2vw}
.quicklinks .ui.card.quick .content .progress {
   color: #cc0000;
   font-size: 5vw;
   padding-top: 0.5vw;
   padding-bottom: 0.5vw;
}
.ui.card.quick {width: 100vw}
.go-to-passport {
   color: black;
   font-size: 4vw;
}

/* Event List Display */
.eventlist {padding: 1vw}
.ui.icon.message.ihc {
   margin-bottom: 1vw;
   margin-top: 1vw;
   background-color: white;
   font-size: 2vw;
}
#event-date {margin-right: 2.3vw}
#event-info {padding-top: 0.9vw}
#event-name {font-size: 3vw}
#event-location {font-size: 2vw}

/* Settings */
#logout-button {
   border-style: solid;
   border-color: white;
}

ul li {
    float: left;
    margin: 0.5em;
    color: white;
    font-size: 1.5em;
}
ul li a {
    display: block;
    color: #e5e5e5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
ul li a:hover {
    background-color: #778899;
}
